body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.class_div{
    color: azure;
    background-color: black;
    border: solid 3px azure;
    width: 600px;
    
}
.class_input{
    color: azure;
    background-color: black;
    font-family: "Pacifico";
    font-size: 25px;
    border: solid 3px rgb(17, 240, 240);
    width: calc(100% - 10px);
    height: 50px;
}
.class_lebel{
    color: azure;
    background-color: black;
    font-family: "Pacifico";
}

.class_textarea{
    color: azure;
    background-color: black;
    font-family: "Pacifico";
    font-size: 25px;
    border: solid 3px rgb(17, 240, 240);
    width: calc(100% - 10px);
    height: 220px;
    word-wrap:"hard";
    
}
